:root {
    --nav-h: 70px;
    --safe-b: env(safe-area-inset-bottom, 0px);
  }

  html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
  }

.recipe-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    padding-bottom: calc(var(--nav-h) + var(--safe-b));
}

.header-overlay {
    position: absolute;
    inset: 0;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.45),
        rgba(0, 0, 0, 0.25),
        rgba(0, 0, 0, 0.6)
    );
}

.recipe-header {
    position: relative;
    height: 60vh;
    width: 100%;
    background-color: rgb(255, 167, 43);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: calc(env(safe-area-inset-top) + 12px);
  }

.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-button {
    position: fixed;
    top: calc(env(safe-area-inset-top) + 8px);
    left: 1rem;
    z-index: 2000;
    background-color: transparent;
    border: transparent;
    color: white !important;
}

.publish-row {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }

.publish-btn {
    right: 1rem;                  
    height: 4vh;
    width: 25vw;         
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(255, 222, 105);
    border: 2px solid rgb(255, 200, 37);
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.publish-btn.selected {
    background-color: rgb(205, 205, 205);
    border-color: rgb(173, 173, 173);
    color: rgb(0, 0, 0);
  }

.publish-btn.focus {
    outline: none !important;
    box-shadow: none !important;
}
  
.stars {
    position: absolute;             
    left: 2rem;                  
    height: 4vh;
    width: 20vw;         
    display: flex;
    color: black !important;        
}

.recipe-title {
    color: white;
    text-align: left;
}

.header-2 {
    color: black;
    top: 0;
    width: 100%;
    height: 10vh;
    padding-left: 2vh;
    padding-top: 5vh;
    font-size: 25px;
    text-align: left;
}

.content-box {
    text-align: left;
    padding: 1rem;
}

.recipe-scroll-area {
    flex: 1 1 auto;
    min-height: 0;
    overflow-y: auto;
    width: 100%;
  }

.upload-img-btn {
    position: absolute;             
    top: 1rem;                      
    right: 1rem;                  
    height: 4vh;
    width: 28vw;   
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(255, 222, 105);
    border: 2px solid rgb(255, 200, 37);
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.upload-img-btn:hover {
    background: #eaeaea;
}