:root {
    --nav-h: 70px;
    --safe-b: env(safe-area-inset-bottom, 0px);
  }

html, body {
    height: auto;
    overflow-y: auto;
  }

.saved-recipes-header {
    position: sticky;
    background-color: #ffe344;
    color: black;
    top: 0;
    width: 100%;
    height: 15vh;
    text-align: left;
    font-weight: bold;
    padding-left: 2vh;
    padding-top: 2vh;
    font-size: 30px;
    z-index: 10;
    padding-top: calc(env(safe-area-inset-top) + 12px);
    padding-bottom: 85px;
}

.recipe-list {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
    padding-bottom: calc(var(--nav-h) + var(--safe-b));
  }

.scrollable-recipes {
    flex: 1 1 auto;
    min-height: 0;
    overflow-y: auto;
    width: 100%;   
    padding-top: 1rem;
}

.categories {
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    padding: 4vw;
    align-self: flex-start;
    color: black;
}

.recipe-card {
    border-radius: 12px;
    height: 20vh;
    overflow: hidden;
    border: 1px solid rgb(121, 121, 121);
    background: #fff;
    flex: 0 0 10rem;
    display: flex;
    flex-direction: column;
}

.recipe-card .card-body {
    flex: 1;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.recipe-card .card-img-top {
    height: 60%;
    width: 100%;
    object-fit: cover;
  }

.recipes-grid {
    overflow-x: auto;
    min-width: 0;
    padding: 12px;
    display: flex;
    gap: 12px;
}

.top-buttons {
    display: flex;
    top: 3.5vh;
    align-items: center;            
    position: sticky;
    gap: 30vw;               
}

.filter{
    position: absolute;
    top: 1rem;
    right: 2rem;
    margin: 0.5rem;
    height: 5vh;
    width: 25vw;
    padding: 0;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(255, 179, 37);
    border: 2px solid rgb(255, 161, 61);
    z-index: 11;
}

.filter-card-title{
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
}
